*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    background-color: #1E172F;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px 0px 200px;
    justify-items: center;
    align-items: center;
}

nav{
    display: flex;
    gap:30px;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
}

nav a {
  text-decoration-line: none;
  color: gray;
}

.buttonh{
      padding: 15px 30px;
      font-size: 16px;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background: linear-gradient(45deg,  violet, blue, indigo);  
}

a:hover{  
        color: aliceblue;
}
                                     /*SECTION 2*/

.section2{
    display:flex;
    justify-content: space-between;
}
.contenDers2{
    background-image: url(../assets/hojasFondo.jpg);
    width: 50vw;   
    background-position: right center; 
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0.9;
    padding: 0px ;  
    height: 75vh;
    background-size:80vw;
    background-position-x: -205px;
}

.imgs2{
    width: 220px;
    margin: 130px;
}

.contenIzs2{
    width: 50%;
    background-color: #2E2550;
    padding: 200px 0px 0px 265px;
}

h1{
    font-size: 80px;
    width: 50%;
    line-height: 0.9;
    color: white;
    margin-bottom: 35px;
}

.texts2{
    font-size: 22px;
    color:aliceblue;
    width:90%;
}

.contens2Bu{
    border:solid 2px;
    border-color:#f5f2fb;
    padding: 5px 5px 5px 5px;
    width: 61%;
    border-radius: 5px;
    margin-top: 35px;
}

.button1s2{
    background-color: white;
    border: none;
    padding: 10px 20px;
    color: #F41486;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.button2s2{
    color:white;
    background-color: #2E2550;
    border-color:white;
    padding: 10px 35px;
    border-radius: 4px;
    font-weight: bold;
    
}      
                                  /*section 3*/

.section3{
   margin: 40px
}

.titulo3{
    font-size: 45px;
    text-align: center;
    color: #F41486;
}

.contens3{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 0px 250px;
}

.imgs3{
     height: 300px;
}

.contesderes3{
    margin-left: 95px;
}

.titulots3{
    color: #ef3b98;
    font-size: 45px;
    margin-bottom: 30px;
}

.texts3{
    font-size: 18px;
    width: 60%;
}

.seguntitus3{
    color: #F41486;
    font-size: 18px;
    margin-top: 20px;;
    margin-bottom: 10px;
    font-weight: bold;
}

.lists3{
    font-size: 18px;
    list-style: none;
}

.colorchulo{
    color: #F41486;    
}
                        /*section4*/

.section4{
    background-color: #1E172F;
    text-align: center;
    padding: 40px 380px 40px 380px;
}

.titulos4{
    color: white;
    font-size: 65px;
}

.texts4{
    margin-top: 40px;
    color: white;
}
                        /*sectino5*/
.section5 {
    background-color: #1E172F;
    display: flex;
    justify-content: space-between;
    padding: 20px 300px 50px 300px;
    gap: 30px;
}
                                 /* informacion de la primera tarjeta de la section5*/

.part1s5 {
    background-color: #FFFFFF;
    width: 40%;
    border-radius: 4px;
}

.logop1s5{
    text-align: center;
    padding: 10px 35px 0px 30px;
}

.titulop1s5{
    text-align: center;
    padding: 0px 35px 15px 30px;
    color:#F41486;
    font-size: 25px;
    font-weight: bold;
}

.primersectionp1s5{
    background-color: #F5F5F5;
    padding: 14px 0px 14px 0px;
    display: flex;
    justify-content: center
}
.signopeso{
    font-size: 40px;
}
.preciop1s5{
    font-size: 40px;
}

.list1s5{
    list-style-type: none;
    font-size: 18px;
    padding: 20px 35px 0px 30px;
}

.iconop1s5{
    color:#F41486;
    font-weight: bold;
}

.iconop1s5x{
    color: black;
    font-weight: bold;
}

.text1s5{
    text-align: center;
    padding-left: 40px;
}

.texlist1{
    text-align: center;
    font-size: 18px;
    padding: 40px 35px 40px 30px;
}

.buttonp1s5{
    text-align:center;
    background-color: #F5F5F5;
    padding: 10px 0px 10px 0px;
}

.buttonp1s5e{
  background: linear-gradient(to right, #f577bc, #e22d78);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

                                   /* informacion segunda y tercera tarjeta */

.part4s5 {
    background-color: #FFFFFF;
    width: 40%;
    border-radius: 4px;
}

.logop4s5{
    text-align: center;
    padding: 10px 35px 0px 30px;
}

.titulop4s5{
    text-align: center;
    padding: 0px 35px 15px 30px;
    color:#263247;
    font-size: 25px;
    font-weight: bold;
}

.primersectionp4s5{
    background-color: #F5F5F5;
    padding: 14px 0px 14px 0px;
    display: flex;
    justify-content: center
}

.signopeso{
    font-size: 40px;
}
.preciop4s5{
    font-size: 40px;
}

.list4s5{
    list-style-type: none;
    font-size: 18px;
    padding: 20px 35px 0px 30px;
}

.iconop4s5{
    color:#263247;
    font-weight: bold;
}

.iconop4s5x{
    color: black;
    font-weight: bold;
}

.text4s5{
    text-align: center;
    padding-left: 40px;
}

.texlist4{
    text-align: center;
    font-size: 18px;
    padding: 40px 35px 40px 30px;
}

.buttonp4s5{
    text-align:center;
    background-color: #F5F5F5;
    padding: 10px 0px 10px 0px;
}

.buttonp4s5e{
  background-color: #2E2550;
  color: white; 
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
                                  /*footer*/                      
footer{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 100px;
    padding: 0px 200px;
    color: rgb(99, 97, 97);
    font-size: 18px;
}

.logof{
    width: 20px;
     filter: brightness(0) saturate(0%) opacity(0.);
}

.logot{
    width: 30px;
    filter: grayscale(100%) brightness(50%);
}

.linkedin{
    width: 30px;
    filter: grayscale(100%) brightness(50%);
}

.ligoins{
    width: 30px;
    filter: grayscale(100%) brightness(70%);
}

.fotters{
    color: #F41486;
}
                                             /*RESPONSING*/ 
@media (max-width:1279px){
                                              /*header*/
header{
    padding: 0px 70px 0px 70px;
}
nav{
    font-size: 15px;
}

.buttonh{
    padding: 13px 25px;
    font-size: 13px;
}
                                              /*section 2 */
.contenDers2{
    height: 100vh;
    background-size:90vw;
    background-position-x: -205px;
}
                     /*izquerda*/
.contenIzs2{
    padding: 100px 0px 0px 125px;
}

h1{
    font-size: 50px;
}

.texts2{
    font-size: 15px;
}

.contens2Bu{
    width: 70%;
}

.button1s2{
    padding: 10px 17px;
    font-size: 13px;
}

.button2s2{
  padding: 10px 15px;
  font-size: 13px;
}

.imgs2{
    width: 170px;
    margin: 90px;
}
                     /*section 3*/
                    
.titulo3{
    font-size: 35px;
}

.imgs3{
    margin-top: 50px;
    width: 350px;
    height: 200px;
}

.contens3{
    padding: 40px 0px 0px 90px;
}

.contesderes3{
    margin-left: 70px;
}
.titulots3{
    font-size: 35px;
    margin-bottom: 30px;
}

.texts3{
    font-size: 15px;
    width: 90%;
}

.seguntitus3{
    font-size: 17px;
    margin-top: 20px;
}

.lists3{
    font-size: 15px;
}
                            /*section 4*/

.section4{
    padding: 40px 160px 40px 160px;
}

.titulos4{
    font-size: 50px;
}

.texts4{
    font-size: 15px;
    margin-top: 30px;
}
                         /*section 5*/
.section5 {
    padding: 20px 55px 50px 55px;
    gap: 30px;
}
                         /* primera tarjeta */
.part1s5 {
    width: 35%;
}

.titulop1s5{
    font-size: 21px;
}

.primersectionp1s5{
    padding: 11px 0px 11px 0px;
}
.signopeso{
    font-size: 35px;
}
.preciop1s5{
    font-size: 35px;
}

.list1s5{
    font-size: 16px;
    padding: 20px 35px 0px 30px;
}

.texlist1{
    font-size: 16px;
    padding: 40px 25px 40px 25px;
}

.buttonp1s5{
    padding: 8px 0px 8px 0px;

}

.buttonp1s5e{
  padding: 15px 30px;
  font-size: 16px;
}
                                                    /* segunda y tercera tarjeta */

.part4s5 {
    width: 35%;
    border-radius: 4px;
}

.logop4s5{
    padding: 15px 30px 0px 25px;
}

.titulop4s5{
    font-size: 21px;
}

.primersectionp4s5{
    padding: 11px 0px 11px 0px;
}
.signopeso{
    font-size: 35px;
}
.preciop4s5{
    font-size: 35px;
}

.list4s5{
    font-size: 16px;
    padding: 20px 35px 0px 30px;
}

.texlist4{
    font-size: 16px;
    padding: 40px 25px 40px 25px;
}

.buttonp4s5{
    padding: 8px 0px 8px 0px;

}

.buttonp4s5e{
  padding: 15px 30px;
  font-size: 16px;
}
                                       /*footer*/
footer{
    font-size: 18px;
    padding: 0px 100px;
}
}

@media (max-width:920px){                                                            /*920*/
.contenDers2{
    height: 88vh;
    background-size: 100vw;
}
                             /*section Izquierda*/
.contenIzs2{
    padding: 80px 0px 0px 90px;
}

h1{
    font-size: 40px;
}

.texts2{
    font-size: 13px;
}

.contens2Bu{
    width: 79%;
}

.button1s2{
    padding: 8px 15px;
    font-size: 13px;
}

.button2s2{
  padding: 8px 15px;
  font-size: 13px;
}

.imgs2{
    width: 140px;
    margin: 90px;
}
                          /*section 3*/
.titulo3{
    font-size: 30px;
}

.section3{
    padding: 0px;
}

.imgs3{
    margin-top: 50px;
    width: 300px;
    height: 200px;
}

.contens3{
    padding: 40px 0px 0px 0px;
}

.contesderes3{
    margin-left: 70px;
}

.titulots3{
    font-size: 27px;
    margin-bottom: 30px;
}

.texts3{
    font-size: 15px;
    width: 90%;
}

.seguntitus3{
    font-size: 17px;
    margin-top: 20px;
}

.lists3{
    font-size: 15px;
}
                               /*section 4*/
.section4{
    padding: 40px 100px 40px 100px;
}

.titulos4{
    font-size: 50px;
}

.texts4{
    font-size: 15px;
    margin-top: 30px;
}
                         /*section 5*/
.section5 {
    padding: 20px 35px 50px 35px;
    gap: 30px;
}
                        /* primera tarjeta */
.primersectionp1s5{
    padding: 11px 0px 11px 0px;
}
.signopeso{
    font-size: 35px;
}
.preciop1s5{
    font-size: 35px;
}
.list1s5{
    font-size: 16px;
    padding: 20px 8px 0px 20px;
}
.texlist1{
    font-size: 16px;
    padding: 20px 15px 20px 15px;
}
.buttonp1s5{
    padding: 8px 0px 8px 0px;
}
.buttonp1s5e{
  padding: 15px 30px;
  font-size: 16px;
}
                                          /*segunda y tercere tarjeta */
.primersectionp4s5{
    padding: 11px 0px 11px 0px;
}
.signopeso{
    font-size: 35px;
}
.preciop4s5{
    font-size: 35px;
}
.list4s5{
    font-size: 16px;
    padding: 20px 8px 0px 20px;
}
.texlist4{
    font-size: 16px;
    padding: 20px 15px 20px 15px;
}
.buttonp4s5{
    padding: 8px 0px 8px 0px;
}
.buttonp4s5e{
  padding: 15px 30px;
  font-size: 16px;
}
}

@media (max-width:768px){                                                             /*768*/

.logo{
    width: 100px;
    margin-right: 20px;
}
header{
    padding: 0px 20px 0px 20px;
}
nav{
    font-size: 13px;
        gap:20px;
}
.buttonh{
    padding: 10px 25px;
    font-size: 13;
}
                               /*section 2*/
.contenDers2{
    height: 75vh;
    background-size:100vw;
    background-size:120vh;
}
                             /*section Izquierda*/
.contenIzs2{
    padding: 40px 0px 0px 40px;
}

.texts2{
    font-size: 13px;
}

.contens2Bu{
    width: 94%;
}

.button1s2{
    padding: 8px 10px;
    font-size: 11px;
}

.button2s2{
  padding: 8px 10px;
  font-size: 11px;
}

.imgs2{
    width: 120px;
    margin: 80px;
}
                                                 /*section 3 */
.imgs3{
    margin-top: 70px;
    width: 210px;
    height: 150px;
}

.contens3{
    padding: 0px;
}

.contesderes3{
    margin-left: 20px;
}

.titulots3{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.texts3{
    width: 100%;
}

.seguntitus3{
    font-size: 17px;
    margin-top: 20px;
}
                                                     /*sectrion 4*/
.section4{
    padding: 40px 60px 40px 60px;
}
                                                     /*section 5*/
.section5 {
    padding: 0px 10px 30px 10px;
    gap: 10px;
}
                                                 /* primera tarjeta */
.text1s5{
    padding: 5px;
}
.list1s5{
    font-size: 13px;
    padding: 20px 9px 0px 12px;
}
.texlist1{
    font-size: 14px;
    padding: 20px 3px;
}
.buttonp1s5{
    padding: 8px 0px 8px 0px;
}

.buttonp1s5e{
  padding: 10px 15px;
  font-size: 13px;
}
                                                 /* segunda y tercera tarjeta */
.text4s5{
    padding: 5px;
}
.list4s5{
    font-size: 13px;
    padding: 20px 9px 0px 12px;
}
.texlist4{
    font-size: 14px;
    padding: 20px 3px;
}

.buttonp4s5{
    padding: 8px 0px 8px 0px;
}

.buttonp4s5e{
  padding: 10px 15px;
  font-size: 13px;
}

footer{
    font-size: 14px;
    padding: 0px 30px;
}
.logof{
    width: 10px;
     filter: brightness(0) saturate(0%) opacity(0.);
}
.logot{
    width: 20px;
    filter: grayscale(100%) brightness(50%);
}
.linkedin{
    width: 20px;
    filter: grayscale(100%) brightness(50%);
}
.ligoins{
    width: 20px;
    filter: grayscale(100%) brightness(70%);
}
}
                                                 /*480*/
@media (max-width:480px){  
.logo{
    width: 80px;
    margin-right: 20px;
}
header{
    padding: 0px 10px 0px 10px;
}
nav{
    font-size: 10px;
        gap:10px;
}
.buttonh{
    padding: 8px 15px;
    font-size: 8;
}
                                         /*section 2*/
.contenDers2{
    height: 60vh;
    background-size:40vw;
    background-size:120vh;
}
                             /*section Izquierda*/
.contenIzs2{
    padding: 10px 0px 0px 10px;
}

h1{
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 20px;
}
.texts2{
    font-size: 13px;
}

.contens2Bu{
    width: 70%;
    margin-top: 20px;
}

.button1s2{
    padding: 8px 6px;
    font-size: 10px;
}

.button2s2{
  padding: 8px 6px;
  font-size: 10px;
}

.imgs2{
    width: 100px;
    margin: 50px 0px 0px 30px;
}
                                     /*section 3*/
.section3{
   margin: 0px
}
.contens3{
    display: flex;
    flex-direction: column ;
    padding: 10px 30px 20px 30px;
}
.imgs3{
    margin-top: 30px;
    width: 300px;
    height: 250px;
}
.contesderes3{
    margin-left: 20px;
}
.titulots3{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.texts3{
    width: 100%;
}
.seguntitus3{
    font-size: 17px;
    margin-top: 20px;  
}
                               /*section 4*/
.section4{
    padding: 20px 20px 40px 20px;
}
.titulos4{
    font-size: 45px;
}
.texts4{
    margin-top: 20px;
}
                               /*section 5*/
.section5 {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 30px 40px;
}
                                /*informacion primera arjeta*/
.part1s5 {
    width: 100%;
    border-radius: 4px;
}
.text1s5{
    padding: 20px;
}
.list1s5{
    font-size: 18px;
    padding: 30px 30px 0px 30px;
}
.texlist1{
    font-size: 18px;
    padding: 40px 30px 40px 30px;
}
                                   /* informacion segunda y tercera tarjeta*/
.part4s5 {
    width: 100%;
    border-radius: 4px;
    margin-top: 20px;
}
.text4s5{
    padding: 20px;
}
.list4s5{
    font-size: 18px;
    padding: 30px 30px 0px 30px;
}
.texlist4{
    font-size: 18px;
    padding: 40px 30px 40px 30px;
}
                                       /*footer*/
footer{
    font-size: 11px;
    padding: 0px 10px;
        height: 70px;
}
.logof{
    width: 10px;
     filter: brightness(0) saturate(0%) opacity(0.);
}
.logot{
    width: 20px;
    filter: grayscale(100%) brightness(50%);
}
.linkedin{
    width: 20px;
    filter: grayscale(100%) brightness(50%);
}
.ligoins{
    width: 20px;
    filter: grayscale(100%) brightness(70%);
}
}